[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"

[dev-packages]
pytest = "*"
httpretty = "*"
ipython = "*"
twine = "*"

[requires]
python_version = "3.6"
